.top-buffer { 
margin-top:15px;
}
table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;

}

td, th {
	border: 1px solid #dddddd;
	text-align: center;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #dddddd;
}
.pagelist { margin-bottom: 10px; padding-bottom: 10px; border-bottom: solid 1px silver;

 }
.pagelist .page { padding: 2px 5px 2px 5px; border: solid 1px teal; color: black; text-decoration: none;

 }

.pagelist .curpage { padding: 2px 5px 2px 5px; border: solid 1px silver; color: teal; text-decoration: none;

 }
.pane {

 ;
}